# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Environment files
.env

# IDE and OS files
.vscode/
.idea/
.DS_Store

# Project Specific: Ignore our physical database files!
*.aof
*.aof.temp
